[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = "*"
pandas = "*"
dataclasses = "*"
dataclasses-json = "*"
tqdm = "*"
gunicorn = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3"
