Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dataclasses
dataclasses-json
Flask
Flask-Compress
future
gunicorn
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-enum
mypy-extensions
numpy
pandas
plotly
python-dateutil
pytz
retrying
six
stringcase
tqdm
typing-extensions
typing-inspect
Werkzeug